body {
  margin: 0;
}

nav {
  font-family: "Roboto Mono", monospace;
  padding: 1.2em;
  height: 90px;
  background-color: #3c4cad;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 1.5em;
}

.body {
  margin-top: 2rem;
}

.isi {
  margin: 2rem;
  display: inline-block;
  padding: 1em;
}

.card {
  padding: 2em;
}

.col-input {
  padding: 10px;
  margin: 10px;
}
